html, body
{
	padding: 0;
	margin: 0;
	/*background-color: #E4EEE7;
	text-align: center;*/
}

th, td
{
	/*background-color: #F0F0FF;
	text-align: left;*/
}

th
{
	/*border: 1px solid black;*/
}

form
{
	margin-bottom: 0px;
}

.form-container
{
	margin-top: 5%;
}

.form-container form,
.form-container form div {
	display: inline;
}

.form-container button {
	display: inline;
	vertical-align: middle;
}

table.center
{
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	width: 55%;
}

.center th
{
	border: 1px solid black;
}

.center td, th
{
	background-color: #F0F0FF;
}

#format
{
	text-align: center;
	border: 1px;
}

#header
{
	height: 125px;
	background-color: #0033CC;
	width: 100%;
}

#menu-nav
{
	margin-top: 20px;
	height: 40px;
	background-color : #0033CC;
	width: 100%
}

.menu-item
{
	position: relative;
	float: left;
	border: 1px solid #0033CC;
	height: 95%;
	background-color: #0066CC;
	width: 10%;
	display: table;
}

.menu-item p
{
	vertical-align: middle;
	text-align: center;
	display: table-cell;
}

#search
{
	margin-top: 5%;
}

#side-panel
{
	margin-top: 4.5%;
	position: absolute;
	left: 0;
	background-color: red;
	height: 100%;
	width: 10%;
}

#side-link
{
	border: 3px ridge blue;
	text-align: center;
	background-color: white;
	height: 30px;
	width: 100%;
	line-height: 30px;
}

#leftMargin
{
	position: absolute;
	right: 0px;
	background-color: #A8D8FF;
	height: 100%;
	width: 2%;
}

#footer {
	bottom: 0;
	background-color: #0033FF;
	height: 20px;
	width: 100%;
}

#content
{
	/*margin-top: 4.5%;
	margin-left: 9.5%;*/
	background-color: white;
	height: 100%;
	width: 100%;
}

#addSubmit
{
	margin-bottom: 0px;
}

a.fill-link
{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	height: 100%;	
	width: 100%;
	color: black;
	text-decoration: none;
}

a.calendar_days
{
	display: block;
	color: black;
	font: bold 20px/30px Georgia,serif;
	height: 100%;
	width: 100%;
	text-decoration: none;
}

#currentViewingMonth
{	display:inline-block;
}

