html, body
{
	padding: 0;
	margin: 0;
	font-family: arial, helvetica, sans-serif;
}
	/*background-color: #E4EEE7;
	text-align: center;*/
}

th, td
{
	/*background-color: #F0F0FF;
	text-align: left;*/
}

th
{
	/*border: 1px solid black;*/
}

form
{
	margin-bottom: 0px;
}

table.pSearch
{
	text-align: center;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	width: 60%
}

.pSearch th
{
	background-color: #336699;
	color: white;
	border: none;
}

.pSearch td
{
	border: 1px solid #003366;
	color: #003366;
}

#pagetitle {
	margin-bottom: 0;
	padding-top: 40;
	color: #003366;
	font-weight: bold;
}

table.addedit
{
	margin-top: 3%;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

.addedit th
{
	border: 1px solid #003366;
	background-color: #003366;
	color: white;
}

.addedit td
{
	width: 1%;
}

table.med
{
	margin-top: 7%;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

.med th
{
	background-color: #336699;
	color: white;
	border: none;
}

.med td
{
	border: 1px solid #003366;
	color: #003366;
}

.med input
{
	width: 100%;
}
table.center
{
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

.center th
{
	border: 1px solid black;
}

.center td, th
{
	background-color: #F0F0FF;
}

#format
{
	text-align: center;
	border: 1px;
}

#header
{
	height: 120px;
	background-color: #003366;
	width: 100%;
}

#error_msg{
	height:20px;
	background-color: white;
	width: 100%;
	color: red;
	text-align: center;
}
#clinic_info{
	float:left;
	text-align: left;
	color:#FFCC66;
	padding: 20px;	
	font-size: 14px;

}
#logout{
	float: right;
	color: #FFCC66;
	background-color: #003366;
	text-decoration: none;
	padding: 20px;
	font-size: smaller;
}

#menu-nav
{
	margin-top: 10px;
	height: 40px;
	background-color : #003366;
	width: 100%
}

.menu-item
{
	position: relative;
	float: left;
	border-left: 3px solid #003366;
	height: 93%;
	background-color: #FFCC66;
	width: 24%;
	margin-left: 6px;
	margin-top: 2px;
	display: table;
	font-size: 16px;
	font-family: monospace;
	font-weight: bold;
}

.menu-item p
{
	vertical-align: middle;
	text-align: center;
	display: table-cell;
	color: #003366;
}

#search
{
	margin-top: 5%;
}

#side-panel
{
	margin-top: 4.5%;
	position: absolute;
	left: 0;
	background-color: red;
	height: 100%;
	width: 10%;
}

#side-link
{
	border: 3px ridge blue;
	text-align: center;
	background-color: white;
	height: 30px;
	width: 100%;
	line-height: 30px;
}

#leftMargin
{
	position: absolute;
	right: 0px;
	background-color: #A8D8FF;
	height: 100%;
	width: 2%;
}

#footer {
	margin-top: 5%;
	bottom: 0;
	background-color: #003366;
	height: 20px;
	width: 100%;
}

#content
{
	/*margin-top: 4.5%;
	margin-left: 9.5%;*/
	background-color: white;
	height: 100%;
	width: 100%;
}

#addSubmit
{
	margin-bottom: 0px;
}

a.fill-link
{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	height: 100%;	
	width: 100%;
	color: black;
	text-decoration: none;
}

a.calendar_days
{
	display: block;
	color: black;
	font: bold 20px/30px Georgia,serif;
	height: 100%;
	width: 100%;
	text-decoration: none;
}

a.doctorTable
{
	color: #003366;
	text-decoration: none;
}

#availableTable
{
	text-align:center; 
	margin-top:50px;
	margin-left:auto; 
	margin-right:auto; 
	border: 0;
	color: #003366;
}

#availableTable th
{
	background-color: #336699;
	color: white;
}
#availableTable td
{
	border: 1px solid #003366;
}

td.doctorAvailable.notAvailable
{
	border-top: none !important;
	border-bottom: none !important;
	background-color: #003366;
	color: #FFCC66;
}

td.doctorAvailable.available
{
	border-top: none !important;
	border-bottom: none !important;
	background-color: #FFCC66;
}

#minMaxTable {
	text-align: center;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
}

#minMaxTable th
{
	background-color: #336699;
	color: white;
	border: none;
}
#minMaxTable td
{
	border: 1px solid #003366;
	background-color: white;
	color: #003366;
}
a.minMaxTab
{
	padding: 20px;
	color: #003366;
	text-decoration: none;

}
#appTypeTable {
	text-align: center;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
}
#appTypeTable td 
{
	background-color: white;
}

.appTypeButton 
{
    display: block;
	height: 300px;
	width: 300px;
	background: #336699;
	border: 2px solid #003366;
	border-radius: 10px;
	color: #FFCC66;
	text-align: center;
	font: bold 2.7em/55px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
 
a.appTypeButton 
{
    text-decoration: none;
}
